body,
html {
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #fff;
  display: inline-block;
  scroll-behavior: smooth;
  z-index: 0;
  text-align: justify;
  width: 100%;
}
nav {
  background-color: #000;
  opacity: 85%;
  width: 100%;
  position: fixed;
}

.hero {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
  padding-top: 25px;
}

.logo-image {
  height: 50px;
  width: 50px;
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  padding-right: 2em;
  overflow: hidden;
  display: none;
}

.nav-link.active {
  display: block;
  text-align: right;
  padding-bottom: 1em;
}

a.nav-link.active:nth-child(2) {
margin-top: 2.5em;
}

.icon {
  display: block;
  padding-right: 2em;
  text-align: right;
  padding-bottom: 1em;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg) translate(0, 10px);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  display: inline-block;
  width: 100%;
}

.hero > h1 {
  font-size: 5em;
  padding-top: 30vh;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-weight: 0;
  text-align: left;
}

.hero > h3 {
  font-size: 2em;
  padding-left: 10%;
  padding-right: 1rem;
  color: white;
}

.choice {
  color: white;
  display: block;
}

.breaker-img-1,
.breaker-img-2,
.breaker-img-3,
.breaker-img-4 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.breaker-img-1 {
  background-image: url(../img/breaker-1.jpg);
  height: 30vh;
}

.breaker-img-2 {
  background-image: url(../img/breaker-2.jpg);
  height: 30vh;
}

.breaker-img-3 {
  background-image: url(../img/breaker-3.jpg);
  height: 30vh;
}

.breaker-img-4 {
  background-image: url(../img/breaker-4.jpg);
  height: 30vh;
}

section {
  padding: 70px; 5em;
}

section::before {
  display: block;
  content: "";
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
  pointer-events: none;
}

.section-light {
  background-color: #22211f;
  /*-moz-box-shadow: inset 0 0 50px #000000;
  -webkit-box-shadow: inset 0 0 50px #000000;
  box-shadow: inset 0 0 50px #000000;*/
}

.section-dark {
  background-color: #22211f;
}

.service {
  text-align: left;
}

hr {
  border-top: white;
  width: 20%;
  margin-top: 40px;
}


h2 {
  font-size: 3em;
}

h4 {
  font-size: 1.5em;
}

.service {
  width: 100%;
}


.steve {
width: 300px;
}

@media only screen and (min-width: 768px) {

  .pull-right {
    padding-right: 5%;
  }

  .choice {
    display: inline;
  }

  .icon {
    display: none;
  }

  .nav-link {
    display: inline;
  }

  .steve {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
  }

  .prev-client-wheel {

  }

  .client {
    margin: 1%;
  }

hr {display: none;}

  .services {display: flex;}
.service-left {width: 50%; padding-right: 5%;}
.service-right {width: 50%; padding-left: 5%;}
}