body,
html {
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #fff;
  display: inline-block;
  scroll-behavior: smooth;
  z-index: 0;
  text-align: left;
  width: 100%;
}

nav {
  background-color: #000;
  opacity: 85%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.pull-left {
  float: left;
}

.pull-left2 {
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pull-right {
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  padding-right: 2em;
  overflow: hidden;
  display: none;
}

.nav-link2 {
  padding-left: 2em;
  overflow: hidden;
  display: inline;
}

.nav-link.active {
  display: block;
  text-align: right;
  padding-bottom: 1em;
}

a.nav-link.active:nth-child(2) {
  margin-top: 2.5em;
}

.icon {
  display: block;
  padding-right: 2em;
  text-align: right;
  padding-bottom: 1em;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg) translate(0, 10px);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.hero {
  background-image: url(../img/AdobeStock_113341952-min.jpeg);
  background-position: 45% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  display: inline-block;
  width: 100%;
  background-attachment: scroll;
}

.hero > h1 {
  font-size: 5em;
  padding-top: 2em;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-weight: 0;
  text-align: left;
}

.hero > h3 {
  font-size: 2em;
  padding-left: 10%;
  padding-right: 1rem;
  color: white;
}

.choice {
  color: white;
  display: block;
}

.breaker-img-1,
.breaker-img-2,
.breaker-img-3,
.breaker-img-4,
.breaker-img-5 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.breaker-img-1 {
  background-image: url(../img/breaker-1.jpg);
  height: 30vh;
}

.breaker-img-2 {
  background-image: url(../img/breaker-2.jpg);
  height: 30vh;
}

.breaker-img-3 {
  background-image: url(../img/breaker-3.jpg);
  height: 30vh;
}

.breaker-img-4 {
  background-image: url(../img/breaker-4.jpg);
  height: 30vh;
}

.breaker-img-5 {
  background-image: url(../img/breaker-5.jpg);
  height: 30vh;
}

section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 70px;
  padding-bottom: 70px;
}

section::before {
  display: block;
  content: "";
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
  pointer-events: none;
}

.section-light {
  background-color: #22211f;
  /*-moz-box-shadow: inset 0 0 50px #000000;
  -webkit-box-shadow: inset 0 0 50px #000000;
  box-shadow: inset 0 0 50px #000000;*/
}

.section-dark {
  background-color: #22211f;
}
hr {
  border-top: white;
  width: 20%;
  margin-top: 40px;
}

h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5em;
}

.service {
  width: 100%;
}

.services {
  overflow-x: hidden;
}

.slider {
  overflow-x: hidden;
}

.steve {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #22211f;
  padding: 1px;
  margin-top: -60px;
}

.copyright {
  text-align: center;
}

.sjv-logo {
  height: 50px;
  width: 50px;
  padding: 10px;
  display: inline-block;
}

.logo {
  height: 50px;
  padding: 10px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
}

.left-buttons {
  width: 70px;
}

.filler {
  flex-grow: 1;
}

.right-buttons {
  width: 350px;
}

article > h4 {
  margin: 0;
  margin-bottom: 10px;
}

article > h6 {
  margin: 0;
}

a.button {
  border-style: solid;
  padding: 1em;
}

a.button:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 900px) {
  body,
  html {
    text-align: justify;
  }

  .service {
    text-align: left;
  }

  .pull-right {
    padding-right: 5%;
  }

  .choice {
    display: inline;
  }

  .icon {
    display: none;
  }

  .nav-link {
    display: inline;
  }

  .steve {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
  }

  .prev-client-wheel {
  }

  .hero > h1 {
    padding-top: 2em;
  }

  .client {
    margin: 1%;
  }

  hr {
    display: none;
  }

  /*.services {
    display: flex;
    width: 100%;
  }
  .service-left {
    width: 50%;
    padding-right: 5%;
  }
  .service-right {
    width: 50%;
    padding-left: 5%;
  }*/
}

.pr-body {
  background-color: #22211f;
}

.pr-main {
  background-color: #22211f;
  padding: 10%;
  height: 100%;
}

hr.pr {
  border-top: white;
  width: 20%;
  margin-top: 40px;
}

article.pr-article {
  padding-bottom: 2em;
}

.firm {
  padding: 5px;
  margin: px;
  float: left;
  height: auto;
  width: 80%;
}

.firm-light {
  background-color: #fff;
}

.firm-dark {
  background-color: #000;
}

@media screen and (max-width: 1366px) {
  .breaker-img-1,
  .breaker-img-2,
  .breaker-img-3,
  .breaker-img-4,
  .breaker-img-5 {
    background-attachment: scroll !important;
    background-size: cover;
  }
  .breaker-img-5 {
    background-position-y: 20%;
  }
  .hero {
    background-attachment: scroll !important;
    background-position: 35% 0%;
    background-size: cover;
  }
}
